Repository bounswe/bounswe2025group9, pull requests merged in 2025-04, with the labels that each got.

#118 115 coding part for backend api introduction
  backend/README.md
  backend/api/migrations/0001_initial.py
  backend/api/models.py
  backend/api/repositories.py
  backend/api/serializers.py
  backend/api/services.py
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views.py
  backend/project/settings.py
  backend/requirements.txt
Labels: enhancement

#147 feat: #142 Improving forum
  frontend/src/App.tsx
  frontend/src/pages/forum/CreatePost.tsx
  frontend/src/pages/forum/Forum.tsx
  frontend/src/pages/forum/PostDetail.tsx
Labels: frontend

#149 feat #148 Creating the mobile app project
  mobile/README.md
  mobile/nutrihub/.gitignore
  mobile/nutrihub/App.tsx
  mobile/nutrihub/app.json
  mobile/nutrihub/assets/adaptive-icon.png
  mobile/nutrihub/assets/favicon.png
  mobile/nutrihub/assets/icon.png
  mobile/nutrihub/assets/splash-icon.png
  mobile/nutrihub/index.ts
  mobile/nutrihub/package-lock.json
  mobile/nutrihub/package.json
  mobile/nutrihub/tsconfig.json
Labels: mobile

#152 Add Vitest setup and example test
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Home.test.tsx
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
Labels: frontend

#166 Improvements to the forum section
  frontend/src/lib/apiClient.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/forum/CreatePost.tsx
  frontend/src/pages/forum/Forum.tsx
  frontend/src/pages/forum/PostDetail.tsx
Labels: frontend

#167 feat #157 Implemented the basic UI's for the app screens
  mobile/nutrihub/App.tsx
  mobile/nutrihub/package-lock.json
  mobile/nutrihub/package.json
  mobile/nutrihub/src/components/common/FeatureCard.tsx
  mobile/nutrihub/src/components/common/PrimaryButton.tsx
  mobile/nutrihub/src/components/food/FoodItem.tsx
  mobile/nutrihub/src/components/forum/ForumTopic.tsx
  mobile/nutrihub/src/constants/theme.ts
  mobile/nutrihub/src/context/AuthContext.tsx
  mobile/nutrihub/src/navigation/AppNavigator.tsx
  mobile/nutrihub/src/navigation/MainTabNavigator.tsx
  mobile/nutrihub/src/navigation/types.ts
  mobile/nutrihub/src/screens/FoodScreen.tsx
  mobile/nutrihub/src/screens/ForumScreen.tsx
  mobile/nutrihub/src/screens/HomeScreen.tsx
  mobile/nutrihub/src/screens/LoginScreen.tsx
Labels: mobile

#168 Implemented theme toggle button for light/dark modes
  mobile/nutrihub/App.tsx
  mobile/nutrihub/src/components/common/FeatureCard.tsx
  mobile/nutrihub/src/components/common/PrimaryButton.tsx
  mobile/nutrihub/src/components/food/FoodItem.tsx
  mobile/nutrihub/src/components/forum/ForumTopic.tsx
  mobile/nutrihub/src/constants/theme.ts
  mobile/nutrihub/src/context/ThemeContext.tsx
  mobile/nutrihub/src/navigation/AppNavigator.tsx
  mobile/nutrihub/src/navigation/MainTabNavigator.tsx
  mobile/nutrihub/src/screens/FoodScreen.tsx
  mobile/nutrihub/src/screens/ForumScreen.tsx
  mobile/nutrihub/src/screens/HomeScreen.tsx
  mobile/nutrihub/src/screens/LoginScreen.tsx
Labels: mobile
