Repository bounswe/bounswe2025group9, pull requests merged in 2025-05, with the labels that each got.

#185 Backend dockerization
  backend/Dockerfile
  backend/README.md
  backend/docker-compose.yml
  backend/project/settings.py
Labels: draft, pri: medium, effort: moderate, backend

#200 fix/199-register-api-call-returns-internal-server-error
  backend/Dockerfile
Labels: bug, pri: high, effort: low, effort: moderate, backend

#197 feat/frontend-api-integration
  backend/project/settings.py
  backend/requirements.txt
  frontend/src/App.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/lib/apiClient.ts
  frontend/src/pages/auth/Login.tsx
  frontend/src/pages/auth/Signup.tsx
Labels: frontend

#204 Bootstrap forum app
  backend/352.postman_collection.json
  backend/README.md
  backend/forum/__init__.py
  backend/forum/admin.py
  backend/forum/apps.py
  backend/forum/migrations/0001_initial.py
  backend/forum/migrations/__init__.py
  backend/forum/models.py
  backend/forum/serializers.py
  backend/forum/tests.py
  backend/forum/urls.py
  backend/forum/views.py
  backend/project/settings.py
  backend/project/urls.py
  backend/setup.sh
Labels: backend

#205 Feat/187 get food endpoint
  backend/352.postman_collection.json
  backend/foods/serializers.py
  backend/foods/tests.py
  backend/foods/urls.py
  backend/foods/views.py
Labels: pri: high, effort: moderate, backend

#177 129 change password functionality
  backend/352.postman_collection.json
  backend/accounts/serializers.py
  backend/accounts/tests/__init__.py
  backend/accounts/tests/test_authAndUserView.py
  backend/accounts/tests/test_changePassword.py
  backend/accounts/urls.py
  backend/accounts/views.py
  backend/api/migrations/0001_initial.py
  backend/project/settings.py
Labels: backend

#209 feat: added db population into dockerfile
  backend/Dockerfile
Labels: backend

#175 Logout1.0
  backend/352.postman_collection.json
  backend/accounts/tests/test_logoutView.py
  backend/accounts/urls.py
  backend/accounts/views.py
  backend/foods/tests.py
  backend/project/settings.py
Labels: backend

#219 Calculating the nutrition scores
  backend/api/db_initialization/foods.json
  backend/api/db_initialization/nutrition_score.py
Labels: backend

#201 feat #178 Refactoring mobile codebase
  mobile/nutrihub/package-lock.json
  mobile/nutrihub/package.json
  mobile/nutrihub/src/components/common/Button.tsx
  mobile/nutrihub/src/components/common/Card.tsx
  mobile/nutrihub/src/components/common/FeatureCard.tsx
  mobile/nutrihub/src/components/common/PrimaryButton.tsx
  mobile/nutrihub/src/components/common/TextInput.tsx
  mobile/nutrihub/src/components/food/FoodItem.tsx
  mobile/nutrihub/src/components/forum/ForumPost.tsx
  mobile/nutrihub/src/constants/foodConstants.ts
  mobile/nutrihub/src/constants/forumConstants.ts
  mobile/nutrihub/src/constants/theme.ts
  mobile/nutrihub/src/context/AuthContext.tsx
  mobile/nutrihub/src/context/ThemeContext.tsx
  mobile/nutrihub/src/hooks/useFoodFilters.ts
  mobile/nutrihub/src/hooks/useForm.ts
  mobile/nutrihub/src/navigation/AppNavigator.tsx
  mobile/nutrihub/src/navigation/MainTabNavigator.tsx
  mobile/nutrihub/src/navigation/types.ts
  mobile/nutrihub/src/screens/FoodScreen.tsx
  mobile/nutrihub/src/screens/ForumScreen.tsx
  mobile/nutrihub/src/screens/HomeScreen.tsx
  mobile/nutrihub/src/screens/LoginScreen.tsx
  mobile/nutrihub/src/screens/auth/LoginScreen.tsx
  mobile/nutrihub/src/screens/food/FoodScreen.tsx
  mobile/nutrihub/src/screens/forum/ForumScreen.tsx
  mobile/nutrihub/src/types/types.ts
  mobile/nutrihub/src/utils/validation.ts
Labels: mobile

#216 Add tag support and filtering to posts
  backend/352.postman_collection.json
  backend/forum/migrations/0002_tag_post_tags.py
  backend/forum/migrations/0003_seed_default_tags.py
  backend/forum/models.py
  backend/forum/serializers.py
  backend/forum/tests/__init__.py
  backend/forum/tests/test_posts.py
  backend/forum/tests/test_tags.py
  backend/forum/urls.py
  backend/forum/views.py
  backend/project/settings.py
  backend/requirements.txt
Labels: backend

#220 feat #206 Improving Food Catalog Screen
  mobile/nutrihub/package-lock.json
  mobile/nutrihub/package.json
  mobile/nutrihub/src/components/food/FoodDetailModal.tsx
  mobile/nutrihub/src/components/food/FoodFilterModal.tsx
  mobile/nutrihub/src/components/food/ProposeFoodModal.tsx
  mobile/nutrihub/src/screens/food/FoodScreen.tsx
Labels: mobile

#221 feat #211 Improving Food Catalog Screen
  mobile/nutrihub/App.tsx
  mobile/nutrihub/src/components/forum/ForumPost.tsx
  mobile/nutrihub/src/constants/forumConstants.ts
  mobile/nutrihub/src/context/PostsContext.tsx
  mobile/nutrihub/src/navigation/MainTabNavigator.tsx
  mobile/nutrihub/src/navigation/types.ts
  mobile/nutrihub/src/screens/forum/CreatePostScreen.tsx
  mobile/nutrihub/src/screens/forum/ForumScreen.tsx
  mobile/nutrihub/src/screens/forum/PostDetailScreen.tsx
  mobile/nutrihub/src/types/types.ts
Labels: mobile

#218 Feat/207 adding filtering to get food items
  backend/352.postman_collection.json
  backend/api/db_initialization/nutrition_score.py
  backend/foods/tests.py
  backend/foods/views.py
Labels: effort: moderate, backend

#222 feat #212 Improving Login Screen
  mobile/nutrihub/package-lock.json
  mobile/nutrihub/package.json
  mobile/nutrihub/src/context/AuthContext.tsx
  mobile/nutrihub/src/navigation/AppNavigator.tsx
  mobile/nutrihub/src/navigation/MainTabNavigator.tsx
  mobile/nutrihub/src/navigation/types.ts
  mobile/nutrihub/src/screens/HomeScreen.tsx
  mobile/nutrihub/src/screens/auth/ForgotPasswordScreen.tsx
  mobile/nutrihub/src/screens/auth/LoginScreen.tsx
  mobile/nutrihub/src/screens/auth/RegisterScreen.tsx
  mobile/nutrihub/src/types/types.ts
Labels: mobile

#223 Add comment functionality and author filtering to forum
  backend/352.postman_collection.json
  backend/forum/migrations/0004_comment.py
  backend/forum/models.py
  backend/forum/serializers.py
  backend/forum/tests/test_comment.py
  backend/forum/tests/test_posts.py
  backend/forum/urls.py
  backend/forum/views.py
  backend/setup.sh
Labels: backend

#231 Feat/226 pagination control in the backend
  backend/foods/tests.py
  backend/foods/views.py
  backend/forum/tests/test_comment.py
  backend/forum/tests/test_tags.py
  backend/project/settings.py
Labels: pri: urgent, backend

#229 Add like functionality to posts
  backend/352.postman_collection.json
  backend/forum/admin.py
  backend/forum/migrations/0005_like.py
  backend/forum/models.py
  backend/forum/serializers.py
  backend/forum/tests/test_like.py
  backend/forum/views.py
Labels: backend

#233 Feat/224 integrating get food item
  frontend/src/components/Footer.tsx
  frontend/src/lib/apiClient.ts
  frontend/src/pages/foods/FoodDetail.tsx
  frontend/src/pages/foods/Foods.tsx
Labels: frontend

#236 Feat/225 integrating login related endpoints
  mobile/nutrihub/package-lock.json
  mobile/nutrihub/package.json
  mobile/nutrihub/src/config/index.ts
  mobile/nutrihub/src/context/AuthContext.tsx
  mobile/nutrihub/src/navigation/AppNavigator.tsx
  mobile/nutrihub/src/navigation/types.ts
  mobile/nutrihub/src/screens/auth/ChangePasswordScreen.tsx
  mobile/nutrihub/src/screens/auth/ForgotPasswordScreen.tsx
  mobile/nutrihub/src/screens/auth/LoginScreen.tsx
  mobile/nutrihub/src/screens/auth/RegisterScreen.tsx
  mobile/nutrihub/src/services/api/auth.service.ts
  mobile/nutrihub/src/services/api/client.ts
  mobile/nutrihub/src/types/types.ts
Labels: mobile

#245 Feat/244 add image url and dietary options to food items frontend
  backend/project/settings.py
  frontend/src/pages/foods/Foods.tsx
Labels: pri: medium, frontend

#252 Minor frontend issues
  frontend/src/components/Logo.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/lib/apiClient.ts
  frontend/src/pages/foods/Foods.test.tsx
  frontend/src/pages/foods/ProposeNewFood.tsx
Labels: bug, frontend

#267 Recipe model endpoints are implemented
  backend/352.postman_collection.json
  backend/forum/migrations/0006_recipe_recipeingredient.py
  backend/forum/models.py
  backend/forum/serializers.py
  backend/forum/tests/test_recipe.py
  backend/forum/urls.py
  backend/forum/views.py
Labels: backend

#268 Add suggest_recipe endpoint and tests
  backend/352.postman_collection.json
  backend/foods/tests.py
  backend/foods/urls.py
  backend/foods/views.py
Labels: pri: low, backend

#269 feat/improve-login-ux
  backend/accounts/migrations/0002_alter_user_address.py
  backend/accounts/models.py
  frontend/src/lib/apiClient.ts
  frontend/src/pages/auth/Login.tsx
  frontend/src/pages/auth/Signup.tsx
  frontend/src/styles/components.css
Labels: frontend

#255 feat: connected log out functionality with backend logout endpoint
  frontend/src/context/AuthContext.tsx
  frontend/src/lib/apiClient.ts
Labels: frontend

#258 feat: add search bar to the forum
  frontend/src/index.css
  frontend/src/lib/apiClient.ts
  frontend/src/pages/forum/Forum.tsx
  frontend/src/styles/components.css
Labels: frontend

#272 Fix/260 search in food catalog
  backend/foods/tests.py
  backend/foods/views.py
  frontend/src/lib/apiClient.ts
  frontend/src/pages/foods/Foods.test.tsx
  frontend/src/pages/foods/Foods.tsx
Labels: pri: urgent, effort: high, frontend, backend

#278 feat: Add random meal endpoint from TheMealDB API
  backend/352.postman_collection.json
  backend/foods/tests.py
  backend/foods/urls.py
  backend/foods/views.py
Labels: enhancement, pri: high, effort: moderate, backend

#280 Feat/270 Backend-integration-for-forum-screen
  mobile/nutrihub/src/components/forum/ForumPost.tsx
  mobile/nutrihub/src/components/forum/ForumRules.tsx
  mobile/nutrihub/src/components/forum/ForumTopic.tsx
  mobile/nutrihub/src/config/index.ts
  mobile/nutrihub/src/context/PostsContext.tsx
  mobile/nutrihub/src/navigation/types.ts
  mobile/nutrihub/src/screens/forum/CreatePostScreen.tsx
  mobile/nutrihub/src/screens/forum/ForumScreen.tsx
  mobile/nutrihub/src/screens/forum/PostDetailScreen.tsx
  mobile/nutrihub/src/services/api/client.ts
  mobile/nutrihub/src/services/api/forum.service.ts
  mobile/nutrihub/src/types/types.ts
Labels: mobile

#281 Feat/276 recipe frontend integration
  frontend/src/lib/apiClient.ts
  frontend/src/pages/forum/CreatePost.tsx
  frontend/src/pages/forum/Forum.tsx
  frontend/src/pages/forum/PostDetail.tsx
Labels: pri: high, effort: moderate, frontend

#266 Manual food proposal endpoint
  backend/352.postman_collection.json
  backend/foods/serializers.py
  backend/foods/urls.py
  backend/foods/views.py
Labels: pri: high, effort: high, backend

#284 Refactor all absolute endpoint usages with reverse calls
  backend/accounts/tests/test_changePassword.py
  backend/accounts/tests/test_logoutView.py
  backend/api/tests.py
  backend/forum/tests/test_comment.py
  backend/forum/tests/test_like.py
  backend/forum/tests/test_posts.py
  backend/forum/tests/test_recipe.py
  backend/forum/tests/test_tags.py
Labels: pri: high, effort: moderate, backend

#286 Food Proposal in Food Catalog (#283)
  backend/foods/urls.py
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/lib/apiClient.ts
  frontend/src/pages/foods/ProposeNewFood.tsx
Labels: frontend

#299 Feat/sorting in food catalog
  backend/foods/views.py
  frontend/src/lib/apiClient.ts
  frontend/src/pages/foods/Foods.tsx
Labels: pri: high, effort: moderate, frontend, backend

#294 Frontend tests have been created and organized into a proper directory structure
  frontend/src/test/App.test.tsx
  frontend/src/test/README.md
  frontend/src/test/components/Footer.test.tsx
  frontend/src/test/components/Logo.test.tsx
  frontend/src/test/components/MainLayout.test.tsx
  frontend/src/test/components/Navbar.test.tsx
  frontend/src/test/components/ProtectedRoute.test.tsx
  frontend/src/test/components/ThemeToggle.test.tsx
  frontend/src/test/pages/Home.test.tsx
  frontend/src/test/pages/auth/Login.test.tsx
  frontend/src/test/pages/auth/Signup.test.tsx
  frontend/src/test/pages/foods/Foods.test.tsx
  frontend/src/test/pages/forum/Forum.test.tsx
Labels: frontend

#311 docs: Update Postman collection with improved documentation and URL fixes
  backend/352.postman_collection.json
Labels: pri: high, effort: moderate

#308 Enable Let's Encrypt TLS with Certbot
  docker-compose.yml
  frontend/nginx.conf
Labels: pri: high, effort: moderate, dev-ops

#302 fix: beautify navbar for mobile screens
  frontend/.gitignore
  frontend/src/components/Navbar.tsx
  frontend/src/styles/components.css
Labels: pri: medium, effort: moderate, frontend

#300 docs: Add Nutrihub logo and website link to README
  README.md
Labels: documentation, pri: low, effort: low

#315 feat: added wikidata entity api endpoint
  backend/352.postman_collection.json
  backend/api/urls.py
  backend/api/views.py
Labels: pri: medium, effort: moderate, backend

#318 feat: add apk link to the footer
  frontend/src/components/Footer.tsx
Labels: pri: medium, effort: low, frontend

#253 Feat/188 Implement get or fetch food endpoint
  backend/352.postman_collection.json
  backend/foods/tests.py
  backend/foods/urls.py
  backend/foods/views.py
Labels: pri: medium, effort: moderate, backend

#321 Implemented External API endpoint for food related wikidata
  backend/api/views.py
Labels: pri: urgent, effort: moderate, backend

#324 Fetch Nutrition Information from Open Food Facts API
  backend/foods/urls.py
  backend/foods/views.py
Labels: backend

#307 Feat/Translator
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views.py
  backend/project/settings.py
  backend/requirements.txt
Labels: pri: high, effort: moderate, backend

#329 doc/swagger
  frontend/public/openapi.yaml
  frontend/src/App.tsx
  frontend/src/components/SwaggerPage.tsx
  frontend/src/types/swagger-ui.d.ts
Labels: documentation, frontend
